<div class="card" name="definitionId" hx-post="/get-def/{{d.definitionId}}" hx-trigger="load"
  hx-target="#defintion-title">
  <div class="card-body">
    <h5 class="card-title" id="defintion-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{d.businessKey}}</h6>
    <ul>
      <li class="nav-item" name="processId" hx-post="/get-tasks/{{d.id}}" hx-trigger="load" hx-target="#task-marker">
        <a href="#" class="nav-link">
          Tasks <span class="float-right" id='task-marker'>x</span>
        </a>
      </li>
      <li class="nav-item">{{d.businessKey}}</li>
    </ul>
  </div>
</div>